// Imports
@import "swiper/swiper-bundle.css";

// Global reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Login styles
.bg-login {
  background-image: url("/images/login-bg.jpg");
  background-size: cover;
  background-position: center;
}
